body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: white;
    text-align: center;
    background-color: black;
}

h1 {
    color: darkgreen;
    text-align: center;
    padding: 10px;
}