body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: white;
    text-align: center;
    background-color: black;
}

h1 {
    color: lightcoral;
    text-align: center;
    padding: 10px;
}

.f1logo {
    height: 100px;
    width: 400px;
    border-radius: 10px;
    border-color: white;
}

ul#menu li {
    display:inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }